* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #222;
    min-height: 100vh;
    line-height: 1.5;
}
#main-cont{
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height: 205vh;
    max-width: 100%;
    background-color: rgb(30, 41, 59);
}
#sub-cont{
    position: absolute;
    top: 8vh;
    left: 6.5vw;
    height: 199vh;
    width: 87vw;
    background-color: white;
}
#top-cont{
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    width: 100%;
    background-color: rgb(52, 61, 76);
}
#left-cont{
    position: absolute;
    top: 30vh;
    left: 0;
    height: 169vh;
    width: 27vw;
    background-color: rgb(212, 212, 212);
}
#pfp{
    position: relative;
    top: -15vh;
    left: 5vw;
    border-radius: 50%;
    height: 250px;
    width: 225px;
}
h1{
    position: absolute;
    top: 10vh;
    left: 41vw;
    font-size: 3.5em;
    color: white;
}
#sub-cont > h1{
    position: absolute;
    top: 40vh; 
    left: 35vw;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    color: #3C3C45;
    white-space: nowrap;
}
#sub-cont hr:nth-of-type(1){
    position: absolute;
    top: 46vh;
    left: 35.35vw;
    width: 55%;       
    margin: 10px auto; /* Centered with 10px spacing top and bottom */
    border-top: 1px solid #3C3C45; /* Sets the line thickness and color */
}
#sub-cont > p{
    position: absolute;
    top: 50vh;
    left: 35.35vw;
    font-size: clamp(12px, 19.7px, 36px);
}
#sub-cont h1:nth-of-type(2){
    position: absolute;
    top: 70vh;
    left: 35vw;
    color: #3C3C45;
}
#sub-cont hr:nth-of-type(2){
    position:absolute;
    top: 76vh;
    left: 35.35vw;
    width: 55%;
    margin: 10px auto;
    border-top: 1px solid #3C3C45;
}
#sub-cont ol{
    position: absolute;
    top: 82vh;
    left: 36.55vw;
}
#sub-cont ol:first-of-type > li:nth-of-type(2){
    position: absolute;
    left: 30vw;
    top: 0vh;
    width: 100%;
}
#sub-cont ol:first-of-type > ul:nth-of-type(2){
    position:absolute;
    top: 3.6vh;
    left: 30vw;
    width: 100%;
}
#sub-cont h1:nth-of-type(3){
    position: absolute;
    top: 155vh;
    left: 35vw;
    color: #3C3C45;
}
#sub-cont hr:nth-of-type(3){
    position: absolute;
    top: 161vh;
    left: 35.35vw;
    width: 55%;
    margin: 10px auto;
    border-top: 1px solid #3C3C45;
}
#sub-cont ol:nth-of-type(2){
    position: absolute;
    top: 165vh;
    left: 36.55vw;
}
#left-cont h2{
    position: absolute;
    left: 4vw;
    font-size: clamp(12px, 24px, 36px);
}
#left-cont hr:nth-of-type(1){
    position: absolute;
    top: 44.5vh;
    left: 4.2vw;
    width: 55%;
    margin: 10px auto;
    border-top: 1px solid #3C3C45;
}
#contact-cont{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 50px;
}
.myP{
    font-size: 1em;
    font-weight: 700;
    margin: 8px;
}
#contact-cont a{
    text-decoration-color: none;
    color: black;
}
#left-cont h2:nth-of-type(2){
    position: absolute;
    top: 90vh;
}
#left-cont hr:nth-of-type(2){
    position: absolute;
    top: 94.5vh;
    left: 4.1vw;
}
#left-cont ul{
    position: absolute;
    top: 100vh;
    left: 5.5vw;
}
#sub-cont > p:nth-of-type(2){
    position: absolute;
    font-size: 12px;
    left: 71vw;
    top: 199.2vh;
    color: white;
}

@media screen and (max-width: 1024px){
    h1{
    position: absolute;
    top: 10vh;
    left: 37vw;
    font-size: 3.5em;
    color: white;
}
#pfp{
    left: 2vw;
}
#sub-cont > p {
    font-size: clamp(12px, 19px, 26px);
}
#contact-cont{
    margin-left: 35px;
}
#left-cont ul{
    left: 5.8vw;
}
}

@media screen and (max-width: 768px){
    #pfp{
       height: 190px;
       width: 165px;
    }
    h1{
        left: 30vw;
        font-size: 3em;
    }
    #left-cont hr:nth-of-type(1){
        top: 34vh;
        left: 4.4vw;
        width: 80%;
    }
    #contact-cont{
        margin-left: 26px;
        font-size: 1em;
    }
    #left-cont hr:nth-of-type(2){
        width: 80%;
    }
    #left-cont ul{
        left: 6.5vw;
    }
    #sub-cont p{
        left: 33.5vw;
        font-size: 0.97em;
    }
    #sub-cont > h1{
        left: 33vw;
    }
    #sub-cont > hr:nth-of-type(1){
        left: 33.5vw;
    }
    #sub-cont > h1:nth-of-type(2){
        left: 33vw;
    }
    #sub-cont > hr:nth-of-type(2){
        left: 33.5vw;
    }
    #sub-cont ol:first-of-type{
        left: 35.5vw;
    }
    #sub-cont ol:first-of-type > li:nth-of-type(2){
        top: 71vh;
        left: 0vw;
    }
    #sub-cont ol:first-of-type > ul:nth-of-type(2){
        top: 74.5vh;
        left: 0vw;
    }
    #sub-cont h1:nth-of-type(3){
        top: 197vh;
        left: 33.5vw;
    }
    #sub-cont hr:nth-of-type(3){
        top: 202vh;
        left: 38.6vh;
    }
    #sub-cont ol:nth-of-type(2){
        top: 206vh;
    }
    #main-cont{
        height: 250vh;
    }
    #sub-cont{
        height: 245vh;
    }
    #sub-cont > p:nth-of-type(2){
        top: 245vh;
        left: 65vw;
        color: white;
        font-size: 9px;
    }
    #left-cont{
        height: 215vh;
    }
}
